/*all-area*/

* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}


body{
  padding:0px !important;
}

#block1, #block2{
  padding:30px !important;
}


.block1-btn-box,.block2-btn-box {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

h3 {
  padding: 50px 0 10px 0;
  font-size: 25px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0d6efd;
}

.form-label {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}


/*block1*/
.register {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.register-info {
  margin: 10px 0;
}
.btn-outline-dark {
  padding: 10px !important;
  margin: 6px;
}



/*block2*/
.check-block {
  margin: 50px 0;
}

.btn-secondary {
  color: #0d6efd !important;
  background-color: white !important;
  border-color: #0d6efd !important;
}

.btn-outline-secondary:hover {
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #6c757d !important;
}

.btn-md {
  padding: 10px 30px !important;
  margin: 6px;
}



/*block3*/
a:visited {
  color:white ;
}

a:hover {
  background-color:#93BFFF;
}

.footer-text{
  text-align:center;
  font-weight: 300;
  font-size: 14px;
}

.footer{
  margin: 0px !important;
  padding:20px;
  background: #55575C;
  color: white;
  height: 300px;
}

